<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= page_title -%></title>
  <link rel="shortcut icon" href="http://s3.newathens.org/files/favicon.ico" />
  <%= javascript_include_tag "jquery", "jquery.form", "audio_player", "highlight", "pusher", :cache => true %>
  <%= stylesheet_link_tag("application") %>
  <%= header_css %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1><%= link_to 'NewAthens.org', root_path -%></h1>
      <div class="tagline">All an elaborate, unapproachable, unprofitable, retributive joke</div>
      <%= render :file => 'shared/tabs' if logged_in? -%>
    </div>
    <div class="content">
      <%= render :file => 'shared/nav' %>
      <%= render :partial => 'search/form.html.erb' if current_controller == 'search' -%>
      <%= render :file => 'shared/flash' -%>
      <%= yield %>
      <%= render :file => 'shared/nav2' -%>
      <%= render :file => 'shared/stats' if logged_in? -%>
    </div>
    <div class="footer"> </div>
  </div>
  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2350501-10']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>